<div class="main_chat_top">
  <div class="chat_title">
  LiYue
  </div>
  <div class="quit_chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_chat_center">
  <div class="message_wrapper">
    <div class="message_header">
      <div class="message_header_name">
        Tartaglia
      </div>
      <div class="message_header_time">
        2021/1/19(Tue) 17:31:30
      </div>
    </div>
    <div class="message_text">
      おはよ先生
    </div>
  </div>
  <div class="message_wrapper">
    <div class="message_header">
      <div class="message_header_name">
        ZhongLi
      </div>
      <div class="message_header_time">
        2021/1/19(Tue) 17:33:43
      </div>
    </div>
    <div class="message_text">
      おはよう
    </div>
  </div>
</div>
<div class="main_chat_bottom">
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="form_input">
      <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
      <label class="form_image">
        <span class="image_file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form_submit' %>
  <% end %>
</div>