<div class="side_bar_top">
  <div class="side_bar_user_name">
  Tartaglia
  </div>
  <div class="side_bar_create_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_bar_bottom">
  <div class="chatroom_name">
    <a href="#">LiYue</a>
  </div>
  <div class="chatroom_name">
    <a href="#">Mondstat</a>
  </div>
</div>
