.wrapper {
  display: flex;
}

/*  サイドバー  */

.side_bar_wrapper {
  width: 300px;
  height: 100vh;
}

.side_bar_top {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_bar_user_name {
  color: #fafafa;
  font-size: 16px;
}

.side_bar_create_room {
  border: 1px solid lightblue;
  padding: 14px;
}

.side_bar_create_room a {
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
}

.side_bar_bottom {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chatroom_name{
  padding: 20px 0 40px;
}

.chatroom_name a {
  text-decoration: none;
  color: white;
}

/*  メインチャット  */

.main_chat_wrapper {
  width: calc(100vw - 300px);
  height: 100vh;
}

.main_chat_top {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.main_chat_center {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.main_chat_bottom {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}